.vs/
x64/
Debug/
Release/
psomodmenu/x64/

*.obj
*.pdb
*.idb
*.ipdb
*.iobj
*.exp
*.lib
*.ilk
*.tlog
*.log
*.recipe
*.vcxproj.FileListAbsolute.txt
*.user

5.4.4-0+UE5-ProSoccerOnline/

Thumbs.db
.DS_Store
*.swp
*~
